language: php

php:
  - 5.5
  - 5.6
  - 7.0
  - hhvm

matrix:
  include:
    - php: 7.0
      env: SEND_COVERAGE=true SUBSPLIT=true
  fast_finish: true

cache:
  directories:
    - "$HOME/.composer/cache"

before_install:
  - if [[ $TRAVIS_PHP_VERSION != hhvm && SEND_COVERAGE != true ]]; then phpenv config-rm xdebug.ini; fi
  - composer self-update

install:
  - travis_retry composer install --no-interaction --prefer-source

script:
  - vendor/bin/phpunit -c phpunit.xml.dist

after_success:
  - codecov # If coverage
  - if [ "$TRAVIS_BRANCH" = "master" && "$SUBSPLIT" = true ]; then ''; fi
  - if [[ "$TRAVIS_BRANCH" = "master" && "$SUBSPLIT" = true ]]; then ''; fi;

sudo: true

notifications:
  email: false
