language: php
sudo: false

env:
  global:
    - COVERAGE=false
    - TEST="./vendor/bin/phpunit"

branches:
  except:
    - /^analysis-.*$/
    - /^patch-.*$/

matrix:
    include:
      - php: 7.0
        env: COVERAGE=true
      - php: 7.1
      - php: 5.6
    fast_finish: true

services:
    - redis
    - memcached
    - mongodb

addons:
  apt:
    sources:
      - mongodb-3.2-precise
    packages:
      - mongodb-org-server

cache:
    directories:
      - "$HOME/.composer/cache"

before_install:
    - if [[ $COVERAGE != true ]]; then phpenv config-rm xdebug.ini || true; fi
    - if [[ $COVERAGE == true ]]; then TEST="$TEST --coverage-clover=coverage.xml"; fi
    - mkdir -p ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d
    - ./build/php/all.sh

script:
    - ./build/runAllTests.sh

after_success:
    - if [[ $COVERAGE  == true ]]; then pip install --user codecov && codecov ; fi

notifications:
    email: false
    webhooks:
        urls:
            - https://webhooks.gitter.im/e/7b0035a70de31fa976df
