language: php
sudo: false

php:
    - 5.5
    - 5.6
    - 7.0

env:
    - BUILD_ALL=true
    - ADAPTER=Apc
    - ADAPTER=Apcu
    - ADAPTER=Chain
    - ADAPTER=Common
    - ADAPTER=Doctrine
    - ADAPTER=Filesystem
    - ADAPTER=Memcache
    - ADAPTER=Memcached
    - ADAPTER=MongoDB
    - ADAPTER=PHPArray
    - ADAPTER=Predis
    - ADAPTER=Redis
    - ADAPTER=Void
    - LIBRARY=Bridge
    - LIBRARY=Hierarchy
    - LIBRARY=SessionHandler
    - LIBRARY=Taggable

matrix:
    fast_finish: true
    exclude:
        - php: 7.0
          env: ADAPTER=Memcache

services:
    - redis
    - memcached
    - mongodb

addons:
  apt:
    sources:
      - mongodb-3.2-precise
    packages:
      - mongodb-org-server

cache:
    directories:
      - "$HOME/.composer/cache"

before_install:
    - echo "Disable xdebug" && phpenv config-rm xdebug.ini
    - . ./build/setEnvVariables.sh
    - mkdir -p ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d
    - if [ -f "build/php/$TRAVIS_PHP_VERSION/$PROJECT.sh" ]; then . ./build/php/$TRAVIS_PHP_VERSION/$PROJECT.sh; fi
    - if [ ! -z "$BUILD_ALL" ]; then . ./build/php/all.sh; fi
    - travis_retry composer self-update

script:
    - ./build/runTest.sh "$DIR/$PROJECT"

after_success:
    - if [[ $TRAVIS_PHP_VERSION = 7.* ]]; then pip install --user codecov && codecov ; fi

notifications:
    email: false
    webhooks:
        urls:
            - https://webhooks.gitter.im/e/7b0035a70de31fa976df
