parameters:
    autoload_directories:
        - %currentWorkingDirectory%/src

    ignoreErrors:
        # External Instances and functions
        - '#Memcache#'
        # Regex for all found redis classes
        - '#Redis#'
        # Regex for all found mongodb classes
        - '#MongoDB#'
        - '#Function igbinary_serialize not found#'
        - '#Function apc_#'
        - '#Function apcu_#'
        - '#Parameter \$result of method Cache\\Prefixed\\Tests\\PrefixedSimpleCacheTest::getCacheStub\(\) has invalid typehint type Cache\\Prefixed\\Tests\\type#'
