<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/5.7/phpunit.xsd"
  backupGlobals="false"
  colors="true"
  verbose="true"
  failOnRisky="true"
  failOnWarning="true"
  bootstrap="vendor/autoload.php"
  >
  <testsuites>
    <testsuite name="Main Test Suite">
      <directory>./src/*/Tests</directory>
      <directory>./src/*/*/Tests</directory>
    </testsuite>
  </testsuites>

  <php>
    <env name="MONGODB_HOST" value="localhost:27017"/>
    <env name="MONGODB_COLLECTION" value="psr6test.cache"/>
    <env name="MONGODB_DATABASE" value="test"/>
  </php>

  <filter>
    <whitelist>
      <directory>./</directory>
      <exclude>
        <directory>./src/*/Tests</directory>
        <directory>./src/*/*/Tests</directory>
        <directory>./vendor</directory>
      </exclude>
    </whitelist>
  </filter>
</phpunit>
