<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
  backupStaticAttributes="false"
  colors="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  processIsolation="false"
  stopOnFailure="false"
  syntaxCheck="false"
         bootstrap="vendor/autoload.php"
  >
  <testsuites>
    <testsuite name="Main Test Suite">
      <directory>./src/Adapter/Apc/tests</directory>
      <directory>./src/Adapter/Apcu/tests</directory>
      <directory>./src/Adapter/Chain/tests</directory>
      <directory>./src/Adapter/Common/tests</directory>
      <directory>./src/Adapter/Doctrine/tests</directory>
      <directory>./src/Adapter/Filesystem/tests</directory>
      <directory>./src/Adapter/Memcache/tests</directory>
      <directory>./src/Adapter/Memcached/tests</directory>
      <directory>./src/Adapter/MongoDB/tests</directory>
      <directory>./src/Adapter/PHPArray/tests</directory>
      <directory>./src/Adapter/Predis/tests</directory>
      <directory>./src/Adapter/Redis/tests</directory>
      <directory>./src/Adapter/Void/tests</directory>
      <directory>./src/Bridge/tests</directory>
      <directory>./src/Hierarchy/tests</directory>
      <directory>./src/SessionHandler/tests</directory>
      <directory>./src/Taggable/tests</directory>
    </testsuite>
  </testsuites>

  <logging>
    <log type="coverage-text" target="php://stdout"/>
  </logging>

  <filter>
    <whitelist>
      <directory>src/</directory>
      <exclude>
        <directory>src/IntegrationTests</directory>
        <directory>src/*/tests</directory>
        <directory>src/*/*/tests</directory>
      </exclude>
    </whitelist>
  </filter>
</phpunit>
